---
permalink: /feed.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Claudio Cammarano</title>
    <link>https://claudiocammarano.com</link>
    <description>Saggi originali su editoria, marketing, semiotica e cultura digitale.</description>
    <language>it</language>
    <atom:link href="https://claudiocammarano.com/feed.xml" rel="self" type="application/rss+xml"/>
    {% for post in collections.allPosts %}
    <item>
      <title>{{ post.data.title | jsonEscape }}</title>
      {% if post.data.external_url %}
      <link>{{ post.data.external_url }}</link>
      <guid isPermaLink="false">https://claudiocammarano.com{{ post.url }}</guid>
      {% else %}
      <link>https://claudiocammarano.com{{ post.url }}</link>
      <guid isPermaLink="true">https://claudiocammarano.com{{ post.url }}</guid>
      {% endif %}
      <pubDate>{{ post.date | rssDate }}</pubDate>
      {% if post.data.description %}<description>{{ post.data.description | jsonEscape }}</description>{% endif %}
      {% if post.data.source %}<source url="{{ post.data.external_url }}">{{ post.data.source }}</source>{% endif %}
    </item>
    {% endfor %}
  </channel>
</rss>
